In [1]:
import geopandas as gpd
import os
import fiona
import pandas as pd
import numpy as np

In [2]:
dir_name= './bangladesh_latest_osm/'
extension = ".shp"

shapefiles = []

for item in os.listdir(dir_name): # loop through items in dir
    if item.endswith(extension): # check for ".shp" extension
        file_name = os.path.join(dir_name, item)
        shapefiles.append(gpd.read_file(file_name))

In [3]:
for shapefile in shapefiles:
    print(shapefile.bounds)

              minx       miny       maxx       maxy
0        90.420284  23.807353  90.420422  23.807489
1        90.402219  23.794574  90.402561  23.794837
2        90.430735  23.810947  90.432107  23.811725
3        90.418840  23.798226  90.419690  23.798549
4        90.419449  23.800465  90.419973  23.800846
...            ...        ...        ...        ...
9990807  92.019931  25.172353  92.020062  25.172430
9990808  92.019548  25.173231  92.019627  25.173333
9990809  92.017666  25.173176  92.017867  25.173278
9990810  92.017306  25.172420  92.017550  25.172621
9990811  92.017091  25.172050  92.017263  25.172149

[9990812 rows x 4 columns]
            minx       miny       maxx       maxy
0      90.420004  23.805335  90.420911  23.806380
1      90.413868  23.797088  90.415849  23.799113
2      91.740072  22.402104  91.746129  22.412551
3      91.427042  22.397887  91.559124  22.606612
4      90.408067  23.800901  90.411675  23.802115
...          ...        ...        ...        ...
81273  91.930517  24.962039  91.930724  24.962128
81274  92.189640  24.919398  92.190817  24.920158
81275  91.765729  24.964437  91.766012  24.964724
81276  89.808293  22.996735  89.813057  23.000510
81277  92.325528  25.005883  92.336049  25.018728

[81278 rows x 4 columns]
         minx       miny       maxx       maxy
0   92.324415  20.592958  92.324824  20.593137
1   92.316825  20.631219  92.328179  20.636526
2   92.314793  20.619391  92.323746  20.631397
3   91.728983  21.954364  91.731385  21.955683
4   91.847917  21.765928  91.858417  21.776652
5   91.835653  21.747612  91.856250  21.771202
6   90.667228  25.121925  90.667546  25.122347
7   90.374401  23.796544  90.374626  23.796943
8   90.375648  23.796746  90.375839  23.796932
9   88.948170  23.761151  88.948443  23.761367
10  91.186226  22.248378  91.189183  22.251006
11  91.185496  22.256789  91.187146  22.257835
12  91.186106  22.255080  91.187659  22.257225
13  91.024128  22.374046  91.027213  22.380534
14  91.021447  22.387945  91.026114  22.388752
15  91.024663  22.389422  91.026578  22.390478
16  91.024663  22.388422  91.026326  22.389995
17  91.023688  22.390352  91.027050  22.392595
18  91.026239  22.383121  91.028104  22.387705
19  91.025726  22.380529  91.027327  22.383301
20  90.990172  22.380925  90.995328  22.391410
21  89.615464  24.746830  89.618339  24.748725
22  89.622989  24.746598  89.625907  24.749576
23  89.622769  24.740488  89.626186  24.747202
24  89.622460  24.748758  89.624665  24.753844
25  88.762140  25.622315  88.764009  25.630875
26  88.762941  25.628018  88.764301  25.631743
27  88.762680  25.567904  88.765014  25.572048
28  88.762915  25.563629  88.764558  25.565362
29  88.766165  25.560339  88.771743  25.563362
30  88.734658  25.767595  88.737964  25.771075
31  88.735016  25.761943  88.737431  25.767487
32  88.737484  25.754804  88.743212  25.763636
33  91.943754  21.432667  91.966529  21.468613
34  92.335528  20.763312  92.336443  20.765120
35  91.957358  21.463306  91.971190  21.478153
36  91.988378  21.487799  91.989826  21.491845
37  91.982908  21.479317  91.986219  21.484060
38  91.986057  21.483978  91.988566  21.487916
39  91.926396  22.368639  91.926940  22.368957
40  88.676408  24.341642  88.679391  24.342838
41  92.313899  20.758186  92.328364  20.774578
42  91.796288  22.237132  91.796484  22.237306
43  89.636373  24.937593  89.638149  24.948233
44  89.646034  24.945023  89.648688  24.947600
45  89.626283  24.923089  89.632280  24.926927
46  89.636170  24.934771  89.637202  24.937894
47  89.646013  24.935997  89.648349  24.946044
48  91.958396  21.462985  91.959759  21.464467
49  91.966276  21.406320  91.988976  21.432742
50  89.263256  21.666602  89.290852  21.688895
51  89.799918  21.845467  89.838134  21.856112
52  89.786308  21.841722  89.793253  21.843540
53  90.067177  23.617673  90.070067  23.620814
54  91.866892  21.475360  91.894875  21.499200
55  90.154988  23.546785  90.156945  23.549388
56  91.918794  24.965363  91.926497  24.973377
            minx       miny       maxx       maxy
0      92.514521  21.949876  92.514521  21.949876
1      92.416236  22.046735  92.416236  22.046735
2      90.390580  23.833616  90.390580  23.833616
3      89.943928  24.930509  89.943928  24.930509
4      89.810261  25.066066  89.810261  25.066066
...          ...        ...        ...        ...
71507  91.845724  24.914628  91.845724  24.914628
71508  91.845761  24.914501  91.845761  24.914501
71509  91.845845  24.914303  91.845845  24.914303
71510  91.845992  24.914089  91.845992  24.914089
71511  91.845920  24.913662  91.845920  24.913662

[71512 rows x 4 columns]
          minx       miny       maxx       maxy
0    90.462080  22.040049  90.481816  22.065417
1    90.367956  21.840047  90.387794  21.850565
2    89.943655  22.428444  89.964777  22.444217
3    90.430905  21.835688  90.460219  21.859014
4    90.419296  21.882699  90.457397  21.910157
..         ...        ...        ...        ...
496  89.903386  22.017314  89.909348  22.025469
497  90.460725  23.794983  90.461322  23.795430
498  90.460491  23.795459  90.460761  23.795771
499  92.018211  22.612002  92.023541  22.614757
500  90.580403  23.787019  90.583330  23.788975

[501 rows x 4 columns]
           minx       miny       maxx       maxy
0     90.392689  23.869328  90.392689  23.869328
1     90.328958  23.896990  90.328958  23.896990
2     90.258700  23.847700  90.258700  23.847700
3     90.216597  22.293368  90.216597  22.293368
4     92.447282  22.913789  92.447282  22.913789
...         ...        ...        ...        ...
4127  90.106740  23.641171  90.106740  23.641171
4128  90.076441  23.626428  90.076441  23.626428
4129  92.480142  22.864164  92.480142  22.864164
4130  92.537579  22.658695  92.537579  22.658695
4131  92.523444  22.708165  92.523444  22.708165

[4132 rows x 4 columns]
           minx       miny       maxx       maxy
0     90.398124  23.720128  90.398184  23.720203
1     91.970481  22.462624  91.970907  22.463088
2     91.830286  22.341630  91.830610  22.342058
3     90.417786  23.850877  90.418059  23.851061
4     90.427873  23.855798  90.428003  23.855921
...         ...        ...        ...        ...
3260  91.099437  22.791623  91.099974  22.792253
3261  92.019289  22.613985  92.020933  22.614552
3262  88.837243  24.363850  88.837383  24.363978
3263  88.837107  24.362811  88.837450  24.363133
3264  88.836968  24.361557  88.837143  24.361709

[3265 rows x 4 columns]
           minx       miny       maxx       maxy
0     91.131641  23.352733  91.131641  23.352733
1     90.393602  23.864310  90.393602  23.864310
2     90.378883  23.744275  90.378883  23.744275
3     90.370736  23.755332  90.370736  23.755332
4     90.376278  23.754206  90.376278  23.754206
...         ...        ...        ...        ...
4486  90.398740  24.756733  90.398740  24.756733
4487  88.209217  24.728160  88.209217  24.728160
4488  90.426208  23.821630  90.426208  23.821630
4489  90.450448  23.149828  90.450448  23.149828
4490  91.862824  24.821099  91.862824  24.821099

[4491 rows x 4 columns]
            minx       miny       maxx       maxy
0      90.420004  23.805335  90.420911  23.806380
1      90.418490  23.800214  90.420537  23.801637
2      90.421189  23.796005  90.422808  23.797411
3      90.413868  23.797088  90.415849  23.799113
4      90.430572  23.810926  90.432562  23.812605
...          ...        ...        ...        ...
15460  90.405177  23.737549  90.405303  23.737663
15461  89.821371  22.993628  89.822085  22.994636
15462  89.819224  22.991758  89.822544  22.995717
15463  89.812516  22.993053  89.813480  22.993994
15464  90.369382  22.698185  90.369433  22.698222

[15465 rows x 4 columns]
            minx       miny       maxx       maxy
0      90.419754  23.793577  90.419754  23.793577
1      90.410248  23.802524  90.410248  23.802524
2      90.413906  23.803080  90.413906  23.803080
3      90.419775  23.799229  90.419775  23.799229
4      90.431369  23.811346  90.431369  23.811346
...          ...        ...        ...        ...
33107  90.410784  23.709032  90.410784  23.709032
33108  90.411302  23.709403  90.411302  23.709403
33109  90.378137  23.807580  90.378137  23.807580
33110  88.837071  24.361812  88.837071  24.361812
33111  91.863304  24.898287  91.863304  24.898287

[33112 rows x 4 columns]
           minx       miny       maxx       maxy
0     90.405960  23.852033  90.408348  23.881610
1     89.729331  24.394661  89.752195  24.399050
2     89.752195  24.396657  89.801703  24.400017
3     91.730695  24.304513  91.810306  24.336014
4     91.770349  22.333445  91.770426  22.333791
...         ...        ...        ...        ...
1920  91.212876  25.190719  91.213768  25.193460
1921  89.824321  22.945459  89.832573  22.975694
1922  89.832553  22.975694  89.832616  22.975800
1923  89.832616  22.975800  89.836677  22.982850
1924  89.836677  22.982850  89.836808  22.983086

[1925 rows x 4 columns]
             minx       miny       maxx       maxy
0       90.421740  23.797578  90.422578  23.801990
1       90.418869  23.797773  90.422364  23.798686
2       90.418582  23.799075  90.422808  23.800231
3       90.419335  23.800040  90.421985  23.800714
4       90.420540  23.800954  90.421871  23.801330
...           ...        ...        ...        ...
406109  90.368044  22.698200  90.368840  22.698546
406110  90.368640  22.698548  90.368853  22.698556
406111  90.368572  22.698545  90.368640  22.698548
406112  90.369320  22.698189  90.369327  22.698547
406113  90.369299  22.697640  90.369502  22.697674

[406114 rows x 4 columns]
           minx       miny       maxx       maxy
0     90.430786  23.809280  90.432563  23.810921
1     90.414824  23.793437  90.415390  23.794006
2     90.414942  23.779888  90.415638  23.780242
3     90.404634  23.849045  90.405847  23.849992
4     90.403991  23.848389  90.404823  23.849137
...         ...        ...        ...        ...
1443  91.757457  24.606143  91.757753  24.606603
1444  91.097954  22.791580  91.098310  22.792013
1445  90.822088  22.192008  90.822232  22.192775
1446  91.594153  24.635540  91.594403  24.635872
1447  90.588463  23.805339  90.589010  23.805992

[1448 rows x 4 columns]
            minx       miny       maxx       maxy
0      90.423594  23.797779  90.423594  23.797779
1      90.414243  23.794908  90.414243  23.794908
2      90.414903  23.818767  90.414903  23.818767
3      90.400503  23.791380  90.400503  23.791380
4      90.427067  23.725051  90.427067  23.725051
...          ...        ...        ...        ...
14738  91.766050  24.628915  91.766050  24.628915
14739  91.836615  24.655358  91.836615  24.655358
14740  91.951571  24.920328  91.951571  24.920328
14741  91.950742  24.922201  91.950742  24.922201
14742  90.389792  23.775733  90.389792  23.775733

[14743 rows x 4 columns]
          minx       miny       maxx       maxy
0    92.003122  21.426193  92.004792  21.427786
1    91.734784  24.306527  91.735202  24.306756
2    90.400233  23.771811  90.402698  23.774019
3    91.812569  22.245202  91.816440  22.248623
4    91.804020  22.243676  91.805365  22.244849
..         ...        ...        ...        ...
388  90.507446  23.805748  90.507658  23.805942
389  91.868041  24.918347  91.869405  24.919580
390  91.987269  24.939848  91.987390  24.939958
391  91.987312  24.939192  91.987433  24.939303
392  91.986557  24.939405  91.986678  24.939515

[393 rows x 4 columns]
           minx       miny       maxx       maxy
0     90.242430  24.028473  90.242430  24.028473
1     89.515046  22.631668  89.515046  22.631668
2     90.042622  22.615378  90.042622  22.615378
3     89.644844  23.059685  89.644844  23.059685
4     90.421278  23.809396  90.421278  23.809396
...         ...        ...        ...        ...
2751  91.832785  24.918932  91.832785  24.918932
2752  91.103709  22.792317  91.103709  22.792317
2753  91.817763  22.409099  91.817763  22.409099
2754  90.822210  22.192351  90.822210  22.192351
2755  90.372986  23.797108  90.372986  23.797108

[2756 rows x 4 columns]
            minx       miny       maxx       maxy
0      90.359971  23.880359  90.461048  23.900275
1      88.710471  23.737901  88.761516  23.765209
2      89.110624  23.593683  89.494307  23.958702
3      88.943768  24.108508  89.023590  24.137864
4      88.791130  24.141867  88.993571  24.181385
...          ...        ...        ...        ...
35471  91.981556  24.745785  91.988411  24.748459
35472  91.697975  24.590959  91.703640  24.601943
35473  91.062687  24.788984  91.078770  24.821935
35474  90.984843  24.774606  90.998128  24.789864
35475  91.293973  25.058239  91.342278  25.065153

[35476 rows x 4 columns]
             minx       miny       maxx       maxy
0       89.466680  22.591578  89.484844  22.602431
1       89.836634  22.383377  89.891863  22.512822
2       89.886714  22.488466  89.975984  22.666912
3       89.781434  22.875024  89.882911  22.995123
4       90.367956  21.840047  90.387794  21.850565
...           ...        ...        ...        ...
389337  91.860695  25.011710  91.862612  25.012638
389338  89.821346  22.994692  89.821949  22.994953
389339  91.735829  24.655786  91.737558  24.657004
389340  90.356199  22.679377  90.356333  22.679517
389341  90.356377  22.679473  90.356497  22.679588

[389342 rows x 4 columns]

In [7]:
shapefiles[0]

,osm_id,code,fclass,name,type,geometry
0,23781261,1500,building,Dr Wahab,None,"POLYGON ((90.42028 23.80747, 90.42040 23.80749..."
1,23852696,1500,building,"ক্যাম্পাস ২, এআইইউবি (আমেরিকান ইন্টার",None,"POLYGON ((90.40222 23.79462, 90.40226 23.79484..."
2,24024423,1500,building,None,school,"POLYGON ((90.43074 23.81168, 90.43133 23.81173..."
3,24024444,1500,building,None,None,"POLYGON ((90.41884 23.79842, 90.41965 23.79855..."
4,24024463,1500,building,American International School Dhaka,None,"POLYGON ((90.41945 23.80066, 90.41949 23.80069..."
...,...,...,...,...,...,...
9990807,1086279736,1500,building,None,None,"POLYGON ((92.01993 25.17240, 92.01995 25.17243..."
9990808,1086279737,1500,building,None,None,"POLYGON ((92.01955 25.17324, 92.01957 25.17333..."
9990809,1086279738,1500,building,None,None,"POLYGON ((92.01767 25.17322, 92.01768 25.17328..."
9990810,1086279739,1500,building,None,None,"POLYGON ((92.01731 25.17247, 92.01732 25.17252..."
9990811,1086279740,1500,building,None,None,"POLYGON ((92.01709 25.17211, 92.01711 25.17215..."

Let us try to plot the shape files

In [8]:
import matplotlib.pyplot as plt
fig, ax = plt.subplots (figsize = (15,15))
shapefiles[0].plot()

At first import the area of our interest as a KML file.

In [9]:
fiona.drvsupport.supported_drivers['KML'] = 'rw'
aoi_kml = gpd.read_file('Kutupalong_AOI_Polygon.kml', driver='KML')
aoi_kml

,Name,Description,geometry
0,Kutupalong-AOI-Polygon,,"POLYGON Z ((92.12845 21.17520 0.00000, 92.1710..."